main .main__container--section {
    width: 50%;
}
/* products */
.container__products--cards .products__card {
    width: 45%;
    max-width: 700px;
}

/* slider plans */
.plans__container--slider {
    width: 60%;
}